#container {
    height: 100vh;
    margin: 0;
    background-color: steelblue;

    display: flex;
    align-items: center;
    flex-direction: column;
}



#log_out_menu {
    background-color: white;
    width: 90vw;
    height: 35px;
    border-radius: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#log_out_button {
    height: 90%;
    width: 20%;
    margin-right: 5px;
    font-size: 15px;
}

#name {
    margin-left: 5px;
}

#div_containing_img {
    width: 300px;

    margin-top: 50px;
    border-radius: 20px;
}

#div_containing_img>img {
    width: 100%;
    border-radius: 20px;
}

#options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 300px;
    min-height: 100px;
}

.choose_a_dog {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}